<h1>Flashcards</h1>

<div>
    <% @flashcards.each do |flashcard| %>
        <p>
            <%= flashcard.term %> <a href="/flashcards/<%= flashcard.id %>">Edit</a><br>
            <%= flashcard.definition %>
        </p>
    <% end %>
</div>
<br>

<a href="/flashcards/new"><button class="btn-small waves-effect">Create Flashcard<i class="material-icons right">create</i></button></a>
