<hr>
<div class="row">
<% @flashcards.each do |flashcard| %>
    <div class="col s6 l4">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title center-align flow-text"><%= flashcard.term %></span>
          <p class="center-align"><%= flashcard.definition %></p>
        </div>
        <div class="card-action">
          <a class="grey-text text-darken-2" href="/flashcards/<%= flashcard.id %>">View</a>
          <a class="grey-text text-darken-2" href="/flashcards/<%= flashcard.id %>/edit">Edit</a>
        </div>
      </div>
    </div>
 
<% end %>
</div>
<br>

<a href="/flashcards/new"><button class="btn-small waves-effect">Create Flashcard<i class="material-icons right">create</i></button></a>
