<form action="/flashcards/new" method="post">
    <label for="term">Term:</label>
    <input type="text" id="term" name="flashcards[:term]"><br>

    <label for="definition">Definition:</label>
    <input type="text" id="definition" name="flashcards[:definition]"><br>

    <input type="submit" value="Create flashcard">
</form>