<form action="/flashcards" method="post">
    <label for="term">Term:</label>
    <input type="text" id="term" name="flashcard[term]"><br>

    <label for="definition">Definition:</label>
    <input type="text" id="definition" name="flashcard[definition]"><br>

    <button class="btn waves-effect waves-light" type="submit" name="action">Create Flashcard</button>
</form>