<form action="/flashcards" method="post">
    <label for="term">Term:</label>
    <input type="text" id="term" name="flashcard[:term]"><br>

    <label for="definition">Definition:</label>
    <textarea type="text" id="definition" name="flashcard[:definition]"></textarea><br>

    <input type="submit" value="Create flashcard">
</form>