<div class="flip-container row" onclick="this.classList.toggle('hover');">
	<div class="flipper col s12">
		<div class="front card-panel">
			<%= @flashcard.term %>
		</div>
		<div class="back card-panel">
			<%= @flashcard.definition %>
		</div>
	</div>
</div>
<br><br>

<a class="left" href="/flashcards/<%= @flashcard.id %>/edit"><button class="btn waves-effect waves-light">Edit Flashcard</button></a>


<form class="right" action="/flashcards/<%= @flashcard.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn waves-effect waves-light" type="submit" name="action">Delete Flashcard</button>
</form>