<div class="row">
    <form action="/signup" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <label for="username">Username:</label>
                <input type="text" id="username" name="user[username]" placeholder="Username">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="password">Password:</label>
                <input type="password" id="password" name="user[password]" placeholder="Password">
            </div>
        </div>
        
        <% if flash.has?(:message) %>
            <p style="color: red"><%= flash[:message] %></p>
        <% end %>

        <button class="btn waves-effect waves-light left" type="submit" name="action">Signup</button>
    </form>
</div>

 