<div class="row">
    <form action="/signup" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <label class="black-text" for="username">Username</label>
                <input class="validate" type="text" id="username" name="user[username]" placeholder="Username">
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label class="black-text" for="password">Password</label>
                <input class="validate" type="password" id="password" name="user[password]" placeholder="Password">
            </div>
        </div>
        
        <% if flash[:notice] %>
                <div class="red-text">
                    <%= flash[:notice] %>
                </div>
        <% end %>

        <button class="btn waves-effect waves-light left" type="submit" name="action">Signup</button>
    </form>
</div>

 