<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to Crammit</h1>

    <h3>Start creating your own flashcards today</h3>

    <div class="content">
      <p>
        <a href="/signup" class="btn">Get Started</a>
      </p>
    </div>

  </div>
</div>
